[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
nltk = "*"
matplotlib = "*"
click = "*"
regex = "*"
joblib = "*"
tqdm = "*"
rake-nltk = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
